body {
  color: #D1E7FF;
  background: #1E202F;
}
.header, .income_block, .consumption_block, .accumulation_block, .cur_block {
  background: linear-gradient(249.12deg, #272740 0%, #26263F 100%), #272741;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
}
.logo_name {
  background: linear-gradient(268.98deg, rgba(255, 255, 255, 0.56) -2.09%, rgba(255, 255, 255, 0.17) 47.53%),
  linear-gradient(0deg, #6A97EC, #6A97EC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
  font-size: 20px;
}
.cur_block_name, .income_block_name, .consumption_block_name, .accumulation_block_name {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 14px;
}
.date_and_time {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
.income_block {
  -webkit-mask-image: radial-gradient(circle at right bottom, transparent 0, transparent 40px, black 41px);
}
.consumption_block {
  -webkit-mask-image: radial-gradient(circle at left bottom, transparent 0, transparent 40px, black 41px);
}
.accumulation_block {
  -webkit-mask-image: radial-gradient(circle at right top, transparent 0, transparent 40px, black 41px);
}
.cur_block {
  -webkit-mask-image: radial-gradient(circle at left top, transparent 0, transparent 40px, black 41px);
}
rect {
  fill: none;
}
.highcharts-title {
  fill: #D1E7FF !important;
  font-size: 16px !important;
}
.highcharts-axis {
  opacity: 0.5;
}
/* text {
  color: #d1e7ff !important;
  fill: #d1e7ff !important;
  opacity: 0.5 !important;
} */
#start, #end, #datebtn {
  color: #D1E7FF;
  background: linear-gradient(249.12deg, #272740 0%, #26263F 100%), #272741;
  border-radius: 8px;
}
#container {
  width: 100%;
}
